@model VedantaWebPortal.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vedanta - @ViewData["Title"] </title>
    <link href="~/piadmin/images/favicon.png" rel="icon" type="image/png" sizes="16x16">
    <link href="~/piadmin/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/piadmin/css/helper.css" rel="stylesheet" />
    <link href="~/piadmin/css/style.css" rel="stylesheet" />
    <link href="~/piadmin/css/balcoStyle.css" rel="stylesheet" />
    <link href="~/piadmin/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/piadmin/css/lobibox.min.css" rel="stylesheet" />
    <link href="~/piadmin/css/animate.css" rel="stylesheet" />
    <link href="~/piadmin/css/icons.css" rel="stylesheet" />
    <script>var baseurl = "https://localhost:44372/";</script>
    <link href="~/piadmin/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-right">
                    <div class="col-lg-8">
                    </div>
                    <div class="col-lg-3">
                        <div class="login-content card">
                            <div style="text-align:center" class="login-form">
                                <br>
                                <img src="~/piadmin/images/logo-text.png" width="180px"><br>
                                <small id="res" class="display-block"></small>
                                <br><br>
                                <form action="/" method="post">
                                    <div class="form-group">
                                        <input type="text" id="username" name="username" autocomplete="off" placeholder="Username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="password" name="Password" autocomplete="off" placeholder="Password" class="form-control">
                                    </div>
                                    <button type="button" name="save" id="loginbtn" class="btn btn-primary btn-flat m-b-30 m-t-30"><i class="ti-unlock"></i> Sign in</button>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/piadmin/js/lib/jquery/jquery.min.js"></script>
    <script src="~/piadmin/js/lib/bootstrap/js/popper.min.js"></script>

    <script src="~/piadmin/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/piadmin/js/jquery-ui.js" type="text/javascript"></script>
    <script src="~/piadmin/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/piadmin/js/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/piadmin/js/jquery.slimscroll.js"></script>
    <script src="~/piadmin/js/sidebarmenu.js"></script>
    <script src="~/piadmin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/piadmin/js/lib/sweetalert/sweetalert.min.js"></script>

    <script src="~/piadmin/js/amcharts.js"></script>
    <script src="~/piadmin/js/lib/chart-amchart/serial.js"></script>
    <script src="~/piadmin/js/lib/chart-amchart/black.js"></script>
    <script src="~/piadmin/js/lib/chart-amchart/light.js"></script>
    <script src="~/piadmin/js/lib/chart-amchart/ammap.js"></script>
    <script src="~/piadmin/js/lib/chart-amchart/pie.js"></script>
    <script src="~/piadmin/js/lib/chart-amchart/gauge.js"></script>
    <script src="~/piadmin/js/custom.min.js"></script>
    <script src="~/piadmin/js/lib/datatables/datatables.min.js"></script>
    <script src="~/piadmin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/piadmin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="~/piadmin/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="~/piadmin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="~/piadmin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="~/piadmin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="~/piadmin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="~/piadmin/js/lib/datatables/datatables-init.js"></script>
    <script src="~/piadmin/js/app.js" type="text/javascript"></script>

    <script src="~/piadmin/js/notifications/js/lobibox.min.js"></script>
    <script src="~/piadmin/js/notifications/js/notifications.min.js"></script>
    <script src="~/piadmin/js/notifications/js/notification-custom-script.js"></script>

    <script src="~/piadmin/js/login.js" type="text/javascript"></script>
    @*<div class="row">
            <div class="col-md-4">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>*@


</body>
</html>
